  <main>
    <h2>SOBRE MÍ</h2>
    <p>{{ about }}</p>

    <h2>EXPERIENCIA</h2>
    <div class="experiencia">
      <h3>{{ empresas[0].nombre }}</h3>
      <p>{{ empresas[0].puesto }} <br><br> {{ empresas[0].descripcion }} <br><br> {{ empresas[0].periodo }}</p>

      <h3>{{ empresas[1].nombre }}</h3>
      <p>{{ empresas[1].puesto }} <br><br> {{ empresas[1].descripcion }} <br><br> {{ empresas[1].periodo }}</p>
    </div>

    <h2>FORMACIÓN</h2>
    <div>
      <h3>C.I.F.P Alan Turing</h3>
      <p>Grado Superior en Desarrollo de Aplicaciones Multiplataforma (D.A.M.)</p>

      <h3>C.I.F.P Alan Turing</h3>
      <p>Grado Medio en Sistemas Microinformáticos y Redes (S.M.R.)</p>
    </div>

    <h2 class="tec-h">TECNOLOGÍAS</h2>
    <span class="tec" *ngFor="let tenologia of tenologias">{{tenologia}}</span>
  </main>
