main {
  flex: 1;
  padding: 1rem;
  background: #ffffff;
}

h2 {
  padding-left: 1rem;
}

h3 {
  padding-left: 1.5rem;
}

p {
  padding-left: 1.5rem;
}

.tec {
  padding: 1rem;
  padding-left: 1.5rem;
}

.tec-h {
  padding-bottom: 1rem;
}
