:host {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  width: 26%;
  background: #ecf0f1;
}

.img {
  padding: 1rem;
  padding-top: 2rem;
  transform: rotate(20deg);
}

.icono {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.contacto {
  height: 30%;
}

.contact-info {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.idiomas {
  flex: 1;
}
