
<header>
  <h1>{{ name }}</h1>
  <h2>{{ profession }}</h2>
</header>

<div class="main">
  <aside>
    <div class="contacto">
      <h2>CONTACTO</h2>

      <div class="contact-info">
        <p>{{ location }} <br><br> {{ telephone }}<br><br><a href="{{ github }}"
            target="_blank">GitHub</a> <br><br> <a href="mailto:{{ correo }}">{{
            correo }}</a> </p>
      </div>

    </div>
    <div class="idiomas">
      <h2>IDIOMAS</h2>
      <ul>
        <li>Español - Nativo</li>
        <li>English - Intermedio</li>
      </ul>
    </div>
  </aside>
  <main>
    <h2>SOBRE MÍ</h2>
    <p>{{ about }}</p>

    <h2>EXPERIENCIA</h2>
    <div class="experiencia">
      <h3>{{ empresas[0].nombre }}</h3>
      <p>{{ empresas[0].puesto }}</p>
      <p>{{ empresas[0].periodo }}</p>

      <h3>{{ empresas[1].nombre }}</h3>
      <p>{{ empresas[1].puesto }}</p>
      <p>{{ empresas[1].periodo }}</p>
    </div>

    <h2>FORMACIÓN</h2>
    <div>
      <h3>C.I.F.P Alan Turing</h3>
      <p>Grado Superior en Desarrollo de Aplicaciones Multiplataforma</p>

      <h3>C.I.F.P Alan Turing</h3>
      <p>Grado Medio en Sistemas Microinformáticos y Redes</p>
    </div>

    <h2>TECNOLOGÍAS</h2>
    <p>{{ tenologias[0] }} · {{ tenologias[1] }} · {{ tenologias[2] }} · {{
      tenologias[3] }} ·{{ tenologias[4] }} ·
      {{ tenologias[5] }} · {{ tenologias[6] }} · {{ tenologias[7] }} · {{
      tenologias[8] }} · {{ tenologias[9] }}</p>
  </main>
</div>

<footer>
  <p>&copy; {{this.fecha | date: 'yyyy'}} Currículum desarrollado con Angular de
    {{ name }}</p>
</footer>
